#projects {
  position: relative;
  padding: 200px;
  background-color: #000;
  margin-bottom: -1px;
}
.responsive-img {
  width: 100%;
  height: 37rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
}
.projects-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 100px;
}
.projects-box {
  border-radius: 10px;
  box-shadow: 1px 1px 8px 0.5px #14e956;
  background-color: #191717;
  padding: 0.3rem 3rem;
  max-width: fit-content;
  transition: transform 0.5s ease;
}
.projects-heading {
  text-align: center;
  text-shadow: 2px 2px 2px #14e956;
  color: transparent;
  letter-spacing: 0.1em;
  background-clip: text;
  background-image: linear-gradient(to right, #14e956, #ffffff);
  animation: pulse 2s ease-in-out infinite;
}
.images-slider {
  position: relative;
  left: 10%;
  cursor: grab;
}
.slide-caption {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fcfcfcd0;
}
.slide-p {
  font-weight: 900;
}
.slider-container {
  width: 80%;
  position: relative;
}
.custom-next {
  position: absolute;
  height: 150px;
  width: 150px;
  cursor: pointer;
  left: 81%;
  top: 25vh;
}
.custom-next:hover{
  transform: rotate(45deg);
  transition: transform 0.5s ease;
}
.custom-prev {
  position: absolute;
  height: 150px;
  width: 150px;
  top: 25vh;
  right: 100%;
  cursor: pointer;
}
.custom-prev:hover {
  transform: rotate(-45deg);
  transition: transform 0.5s ease;
}
  @media (max-width: 700px) {
    #projects {
      padding: 100px 0;
      padding-top: 20px;
      
    }
    .slide-p {
      font-size: 0.5rem;
    }
    .projects-container {
      top: 0px;
    }
    .images-slider-container {
      display: flex;
      justify-content: center;
      align-items: center;
      top: 30px;
    }
    .responsive-img {
      width: 100%;
      height: 210px;
    }
    .slider-container {
      width: 100%;
    }
    .images-slider {
      max-width: 70%;
      position: relative;
    }
  }
  @media (min-width: 300px) and (max-width:400px) {
    .responsive-img {
      width: 90%;
      height: 185px;
    }
    .projects-box {
      position: absolute;
      padding: 0.3rem 1.5rem;
    }
    .projects-container {
      position: relative;
      bottom: 30px;
    }
    .projects-heading {
      font-size: 0.7rem;
    }
    .custom-next {
      position: absolute;
      top: 35%;
      left: 95%;
      height: 40px;
      width: 40px;
      cursor: default;
    }
    .custom-prev {
      top: 35%;
      height: 40px;
      width: 40px;
      left: -19%;
      cursor: default;
    }
    .slider-container {
      width: 100%;
    }
    .images-slider {
      max-width: 70%;
      position: relative;
      top: 50px;
    }
    .images-slider-container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      right: 20px;
    }
  }
  @media (min-width: 401px) and (max-width: 500px) {
    .responsive-img {
      height: 250px;
    }
    .projects-box {
      padding: 0.3rem 1.6rem;
    }
    .projects-heading {
      font-size: 0.9rem;
    }
    .projects-container {
      bottom: 40px;
    }
    .custom-next {
      top: 35%;
      left: 100%;
      height: 60px;
      width: 60px;
      cursor: default;
    }
    .custom-prev {
      top: 35%;
      height: 60px;
      width: 60px;
      left: -19%;
      cursor: default;
    }
    .images-slider {
      max-width: 70%;
      position: relative;
      top: 40px;
    }
    .images-slider-container {
      position: relative;
      right: 45px;
    }
  }
@media (min-width: 501px) and (max-width: 600px) {
  .responsive-img {
    height: 290px;
  }
  .projects-box {
    padding: 0.3rem 1.8rem;
  }
  .projects-heading {
    font-size: 1rem;
  }
  .projects-container {
    bottom: 50px;
  }
  .custom-next {
    top: 35%;
    left: 100%;
    height: 70px;
    width: 70px;
    cursor: default;
  }
  .custom-prev {
    top: 35%;
    height: 70px;
    width: 70px;
    left: -19%;
    cursor: default;
  }
  .images-slider {
    max-width: 70%;
    position: relative;
    top: 40px;
  }
  .images-slider-container {
    position: relative;
    right: 55px;
  }
}
@media (min-width: 601px) and (max-width: 700px) {
  .responsive-img {
    height: 330px;
  }
  .projects-box {
    padding: 0.3rem 1.9rem;
  }
  .projects-heading {
    font-size: 1.1rem;
  }
  .projects-container {
    bottom: 50px;
  }
  .custom-next {
    top: 35%;
    left: 100%;
    height: 80px;
    width: 80px;
    cursor: default;
  }
  .custom-prev {
    top: 35%;
    height: 80px;
    width: 80px;
    left: -19%;
    cursor: default;
  }
  .images-slider {
    max-width: 70%;
    position: relative;
    top: 40px;
  }
  .images-slider-container {
    position: relative;
    right: 60px;
  }
}

@media (min-width: 700px) and (max-width: 1024px) {
  .responsive-img {
    height: 500px;
    width: 100%;
  }
  .projects-box {
    padding: 0.3rem 2.5rem;
  }
  .projects-heading {
    font-size: 1.4rem;
  }
  .projects-container {
    bottom: 70px;
  }
  .custom-next {
    top: 35%;
    left: 120%;
    height: 100px;
    width: 100px;
    cursor: default;
  }
  .custom-prev {
    top: 35%;
    height: 100px;
    width: 100px;
    cursor: default;
  }
  .images-slider {
    max-width: 100%;
    position: relative;
    top: 40px;
  }
  .slider-container {
    width: 120%;
  }
  .images-slider-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 20%;
  }
}
@media (min-width: 700px) and (max-width: 769px) {
  .responsive-img {
    height: 400px;
  }
}












  .flip-in {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
  }
  
  .flip-in.visible {
    opacity: 1;
    visibility: visible;
    animation: scaleIn 1s forwards;
  }
  
  @keyframes scaleIn {
    0% {
      opacity: 0;
      transform: scale(0.1);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }